*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    width: 200px;
    padding: 10px;
    background-color: pink;
}
ul li{
    margin: 10px;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}